<div id="slickQuiz" class="background">
  <p class="textquestion quizName">
  </p>
  <br>
  <br>

  <div class="quizArea">
    <div class="quizHeader">
      <a class="startQuiz btn btn-success btn-xl start" href="">Question Crime!</a>
    </div>
    </div>

  <div class="quizResults">
    <h3 class="quizScore right score">Your Score: <span></span></h3>
    <p>
        <button type="button" class="btn btn-circle btn-xl standard facebook"><i class="fa fa-facebook"></i>
        </button>
    </p>
    <p> 
        <a href="https://twitter.com/share" data-text="It's question crime! How much do you know?" data-size="large" data-hashtags="questioncrime">
            <button type="button" class="btn btn-circle btn-xl standard twitter"><i class="fa fa-twitter"></i>
        </button>
        <a>
    </p>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <p>
        <a href="/home/paths">
            <button type="button" class="btn btn-warning btn-circle btn-xl standard"><i class="fa fa-repeat"></i>
            </button>
        </a>
    </p>
  </div>

  
</div>




<script src='http://code.highcharts.com/highcharts.js'></script>
<script src='http://code.highcharts.com/modules/exporting.js'></script>
<script type='text/javascript' src='https://public.tableau.com/javascripts/api/viz_v1.js'>
</script>

<script>

  // Setup your quiz text and questions here

// NOTE: pay attention to commas, IE struggles with those bad boys

var test = '<%= @quizzes[0].question %>';
console.log(test);

var quizJSON = {
    "info": {
        // "name":    "",
        // "main":    "",
        // "results": "<h5>Learn More</h5><p>Etiam scelerisque, nunc ac egestas consequat, odio nibh euismod nulla, eget auctor orci nibh vel nisi. Aliquam erat volutpat. Mauris vel neque sit amet nunc gravida congue sed sit amet purus.</p>",
        // "level1":  "Jeopardy Ready",
        // "level2":  "Jeopardy Contender",
        // "level3":  "Jeopardy Amateur",
        // "level4":  "Jeopardy Newb",
        // "level5":  "Stay in school, kid..." // no comma here
    },
    "questions": [
        //need to refactor this array to use loop
        { // Question 1
            "q": '<%= @quizzes[0].question %>',
            "a": [
                {"option": '<%= @quizzes[0].answer_1 %>',      "correct": ('<%= @quizzes[0].solution %>' === 'A')},
                {"option": '<%= @quizzes[0].answer_2 %>',     "correct": ('<%= @quizzes[0].solution %>' === 'B')},
                {"option": '<%= @quizzes[0].answer_3 %>',      "correct": ('<%= @quizzes[0].solution %>' === 'C')},
                {"option": '<%= @quizzes[0].answer_4 %>',     "correct": ('<%= @quizzes[0].solution %>' === 'D')} // no comma here
            ],
            "correct": "<p><%= @quizzes[0].correct %></p> ",
            "incorrect": "<p><%= @quizzes[0].incorrect %> <%= @quiz_chart = 'test' if @quizzes[0].chart %></p>" // no comma here
        },
        { // Question 2
            "q": '<%= @quizzes[1].question %>',
            "a": [
                {"option": '<%= @quizzes[1].answer_1 %>',      "correct": ('<%= @quizzes[1].solution %>' === 'A')},
                {"option": '<%= @quizzes[1].answer_2 %>',     "correct": ('<%= @quizzes[1].solution %>' === 'B')},
                {"option": '<%= @quizzes[1].answer_3 %>',      "correct": ('<%= @quizzes[1].solution %>' === 'C')},
                {"option": '<%= @quizzes[1].answer_4 %>',     "correct": ('<%= @quizzes[1].solution %>' === 'D')} // no comma here
            ],
            "correct": "<p><%= @quizzes[1].correct %></p> ",
            "incorrect": "<p><%= @quizzes[1].incorrect %></p>" // no comma here
        },
        { // Question 3
            "q": '<%= @quizzes[2].question %>',
            "a": [
                {"option": '<%= @quizzes[2].answer_1 %>',      "correct": ('<%= @quizzes[2].solution %>' === 'A')},
                {"option": '<%= @quizzes[2].answer_2 %>',     "correct": ('<%= @quizzes[2].solution %>' === 'B')},
                {"option": '<%= @quizzes[2].answer_3 %>',      "correct": ('<%= @quizzes[2].solution %>' === 'C')},
                {"option": '<%= @quizzes[2].answer_4 %>',     "correct": ('<%= @quizzes[2].solution %>' === 'D')} // no comma here
            ],
            "correct": "<p><%= @quizzes[2].correct %></p> ",
            "incorrect": "<p><%= @quizzes[2].incorrect %> </p>" // no comma here
        },
        { // Question 4
            "q": '<%= @quizzes[3].question %>',
            "a": [
                {"option": '<%= @quizzes[3].answer_1 %>',      "correct": ('<%= @quizzes[3].solution %>' === 'A')},
                {"option": '<%= @quizzes[3].answer_2 %>',     "correct": ('<%= @quizzes[3].solution %>' === 'B')},
                {"option": '<%= @quizzes[3].answer_3 %>',      "correct": ('<%= @quizzes[3].solution %>' === 'C')},
                {"option": '<%= @quizzes[3].answer_4 %>',     "correct": ('<%= @quizzes[3].solution %>' === 'D')} // no comma here
            ],
            "correct": "<p><%= @quizzes[3].correct %></p> ",
            "incorrect": "<p><%= @quizzes[3].incorrect %> </p>" // no comma here
        },
        { // Question 5
            "q": '<%= @quizzes[4].question %>',
            "a": [
                {"option": '<%= @quizzes[4].answer_1 %>',      "correct": ('<%= @quizzes[4].solution %>' === 'A')},
                {"option": '<%= @quizzes[4].answer_2 %>',     "correct": ('<%= @quizzes[4].solution %>' === 'B')},
                {"option": '<%= @quizzes[4].answer_3 %>',      "correct": ('<%= @quizzes[4].solution %>' === 'C')},
                {"option": '<%= @quizzes[4].answer_4 %>',     "correct": ('<%= @quizzes[4].solution %>' === 'D')} // no comma here
            ],
            "correct": "<p><%= @quizzes[4].correct %></p> ",
            "incorrect": "<p><%= @quizzes[4].incorrect %> </p>" // no comma here
        },
        { // Question 6
            "q": '<%= @quizzes[5].question %>',
            "a": [
                {"option": '<%= @quizzes[5].answer_1 %>',      "correct": ('<%= @quizzes[5].solution %>' === 'A')},
                {"option": '<%= @quizzes[5].answer_2 %>',     "correct": ('<%= @quizzes[5].solution %>' === 'B')},
                {"option": '<%= @quizzes[5].answer_3 %>',      "correct": ('<%= @quizzes[5].solution %>' === 'C')},
                {"option": '<%= @quizzes[5].answer_4 %>',     "correct": ('<%= @quizzes[5].solution %>' === 'D')} // no comma here
            ],
            "correct": "<p><%= @quizzes[5].correct %></p> ",
            "incorrect": "<p><%= @quizzes[5].incorrect %> </p>" // no comma here
        } // no comma here
    ]
};





  $(function () {
    $('#slickQuiz').slickQuiz();
  });

  
</script>
