<div class="background">
  <p>
    <%= link_to(crime_datum_path(id: 1, :colour => @colour)) do %>
      <button type="button" class="btn btn-<%= @risk_rating %> btn-circle btn-xl rating">
        <%= @risk_sentence %><br>
        ...tell me more! 
      </button>
    <% end %>
  </p>
  <p>
    <%= link_to(quizzes_path) do %>
      <button type="button" class="btn btn-primary btn-circle btn-xl quiz">
        take me to the<br>
        QUIZ!
        </button>
    <% end %>
  </p>
  <p>
    <%= link_to(crime_data_data_path) do %>
      <button type="button" class="btn btn-info btn-circle btn-xl data">
        show me the<br>
        DATA!
    </button>
    <% end %>
  </p>
</div>